@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.login-container {
  width: 360px;
  background: #f1f1f1;
  height: 480px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.login-container h1{
  text-align: Center;
  margin-bottom:  60px;
  color: #5c5c5c;
  font-family: 'Righteous', cursive;
  
}

.login-container img{
  margin-top: -50px;
  margin-left: 125px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.textb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.textb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.textb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.textb span::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  transition: 0.5s;
}

.logbutton{
  display: block;
  width: 100%;
  height: 50px;
  border:none;
  background: linear-gradient(120deg,#7c7c7c,#363636,#7c7c7c);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.5s ;
  font-family: 'Righteous', cursive;
}

.logbutton:hover{
  background-position: right;
  
}

.bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}



