@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700&display=swap');

*{
  font-family: Poppins-Regular, sans-serif;
}

.post-container {
  display: flex;
  background: #d6d6d6;
}

.post-container ul {
  list-style: none;
  margin: auto;
  display: flex;
}



/* post image*/
.post-midia-container {
  background: green;
}

.post-midia-container li{
  margin-top: 20px;
  width: 740px;
  height: 480px;
  background: #213bbb;
  border-radius: 20px 0 0 20px;
  padding: 18px;
}

.post-midia-container li header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.post-midia-container li header a img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
}

.post-midia-container .user-info strong {
  display: block;
  font-size: 16px;
  margin-left: 10px;
}

.post-midia-container .user-info span {
  font-size: 12px;
  color: green;
  margin-top: 2px;
  margin-left: 10px;
}

.post-midia-container main a img {
  width: auto;
  height: 400px;
}




/* post comments */

.comment-container {
  background: red;
}

.comments-list{
  display: block;
  width: 460px;
  height: 516px;
  margin-top: 20px;
  margin-left: 0px;
  background: rgb(35, 2, 2);
}

.comments-list li {
  position: static;
  margin-top: 0px;
  background: #d6d6d6;
  border-radius: 0px 20 20 0px;
  padding: 7px;
}


.comment-individual {
  margin-left: 10px;
}

li .comment-individual header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

li .comment-individual header a img{
  width: 50px;
  height: 50px;
  border-radius: 20%
}

li .comment-individual .user-info strong {
  display: block;
  font-size: 16px;
  margin-left: 10px;
  
}
li .comment-individual .user-info span {
  margin-left: 10px;
}