@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700&display=swap');


* {
	margin: 0px; 
	padding: 0px; 
  text-decoration: none;
  font-family: Poppins-Regular, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #146881 0%, rgba(96, 93, 118, 0.89) 55.33%, rgba(124, 115, 137, 0.93) 100%)#767676;
  -webkit-font-smoothing: antialiased;
}

/* topBar */

.topBar {
  position: absolute;

  width: 100%;
  height: 61px;
  left: 0px;
  top: 0px;

}

  /* estilização da unordered list */

.topBar ul {
  list-style-type: none;
  margin: 0;

  position: -webkit-sticky;
  position: sticky;

  margin: auto;
  padding: 0;
  overflow: hidden;
  top: 0;

  background: linear-gradient(90deg, #FFFFFF -0.36%, #265767 -0.36%, #3E6F84 -0.35%, #505460 49.82%, #726A7C 100%);

}

  /* estilização dos itens */

.topBar li {
  float: left;
  height: 56px;
}

  /* estilização dos links dos itens */

.topBar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: opacity 0.2s;
}


.topBar li a:hover {
  opacity: 0.4;
}

.topBar  a img:hover {
  opacity: 0.7;
}

/* estilização dos icones, img e textos da topBar */

.topBar .menuIcon {
  display: flex;
  flex-direction: column;
  position: absolute;  
  
  top: 0px;

  float: left;
}

.topBar a img {
  margin-top: 6px;
  margin-left: 400px;
  
  float: left; 

  width: 47px;
  height: 47px;

  border-radius: 10px;
}

.topBar .logoName a{
  margin-top: 0px;
  margin-left: 70px;
  font-size: 23px;
  font-family: Righteous, cursive;
  font-size: 25px;
  line-height: 31px;

  color: #FFFFFF;
}

.topBar .searchBar {
  margin-top: 1px;
  margin-left: 20px;
}

.topBar .searchBar input[type=text]{
  float: center;
  padding: 4px;
  border-radius: 20px;
  width: 560px;
  margin-top: 12px;
  margin-right: 16px;
  font-size: 17px;
  outline: none;
}

.topBar .searchBar input::placeholder{
  font-family: Roboto, sans-serif;
}

.topBar .searchIcon   {
  padding: 1px 1px;
  top: 0px;
}

.topBar .settingsIcon {
  float: right;
}

.topBar .chatIcon {
  float: right;
}