@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700&display=swap');


* {
	margin: 0px; 
	padding: 0px; 
  text-decoration: none;
  font-family: Poppins-Regular, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #146881 0%, rgba(96, 93, 118, 0.89) 55.33%, rgba(124, 115, 137, 0.93) 100%)#767676;
  -webkit-font-smoothing: antialiased;
}

/* topBar */

.topBar {
  position: absolute;
  width: 100%;
  height: 61px;
  left: 0px;
  top: 0px;

  position: fixed;

  background: linear-gradient(90deg, #FFFFFF -0.36%, #265767 -0.36%, #3E6F84 -0.35%, #505460 49.82%, #726A7C 100%);

}

.topBar ul {
  list-style-type: none;
  margin: 0;

  position: -webkit-sticky;

}


.topBar .menuIcon {
  position: fixed;
  width: 30px;
  height: 30px;
  left: 13px;
  top: 15px;
}

.topBar a img {
  position: fixed;
  width: 47px;
  height: 47px;
  left: 281px;
  top: 7px;

  float: left;

  border-radius: 10px;
}

.topBar .logoName {
  position: absolute;
  left: 376px;
  top: 16px;

}

.topBar .logoName a {
  color: #FFFFFF;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;

}

.topBar .searchBar {
  position: absolute;
  
  width: 537px;
  height: 33px;
  left: 566px;
  top: 16px;

  background: #FFFFFF;

  border-radius: 20px;
}

.topBar .searchBar input{
  position: absolute;

  width: 87%;
  height: 23px;
  left: 12px;
  top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  border: none;

  color: #333;
}

.topBar .searchBar input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  
}

.topBar .searchIcon {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 1057px;
  top: 19px;
}

.topBar .searchIcon button {
  border-radius: 5px;
  border: none;
  width: 37px;
  height: 27px;
  background:none;
  cursor: pointer;
}

.topBar .chatIcon {
  float: right;
  position: fixed;
  width: 32px;
  height: 24px;

  top: 17px;
  left: 93%;

}

.topBar .settingsIcon {
  float: right;
  position: fixed;
  width: 32px;
  height: 27px;
  height: 24px;
  top:17px;
  left: 97%;
}